/* css/style.css */

/* =========================
   LOGIN PAGE
========================= */

/* Input login */
.login-box div[data-baseweb="input"] input{
    height:45px;
    border-radius:10px;
    border:1px solid #dcdcdc;
    padding-left:12px;
}

/* Tombol login biru */
.login-box div.stButton > button{
    width:100%;
    height:45px;
    border:none !important;
    border-radius:10px !important;
    background-color:#2563eb !important;   /* Biru default */
    color:white !important;
    font-weight:600 !important;
    transition:0.25s;
}

/* Hover jadi biru tua + naik dikit */
.login-box div.stButton > button:hover{
    background-color:#1d4ed8 !important;
    transform:translateY(-1px);
}

/* Saat diklik */
.login-box div.stButton > button:active{
    background-color:#1e40af !important;
}

/* Konten utama */
.block-container{
    padding-top:2rem;
}

/* Sidebar */
section[data-testid="stSidebar"]{
    background-color:#0f172a;
    border-right:1px solid #1e293b;
    padding-top:10px;
}

/* Judul */
.sidebar-title{
    color:white;
    font-size:22px;
    font-weight:700;
    margin-top:8px;
    line-height:1.2;
}

.sidebar-subtitle{
    color:#94a3b8;
    font-size:13px;
    margin-bottom:10px;
}

/* Tombol menu */
section[data-testid="stSidebar"] .stButton > button{
    width:100%;
    display:flex;
    align-items:center;
    justify-content:flex-start;
    gap:10px;
    text-align:left;
    border:none !important;
    padding:12px 14px !important;
    margin-bottom:8px;
    border-radius:12px !important;
    background:transparent !important;
    color:#e2e8f0 !important;
    font-weight:500 !important;
    font-size:15px !important;
    transition:0.25s;
}

/* Hover */
section[data-testid="stSidebar"] .stButton > button:hover{
    background:#1e293b !important;
    color:#22c55e !important;
    transform:translateX(4px);
}

/* Menu aktif */
.active-menu{
    display:flex;
    align-items:center;
    gap:10px;
    width:100%;
    padding:12px 14px;
    margin-bottom:8px;
    border-radius:12px;
    background:#22c55e;
    color:white;
    font-weight:600;
    font-size:15px;
}

/* User Box */
.user-box{
    background:#111827;
    color:white;
    padding:12px;
    border-radius:12px;
    font-size:14px;
}

/* Konten utama */
.block-container{
    padding-top:2rem;
}