<!-- templates/components/model_hapus.html -->
<div class="modal fade" id="confirmHapus{{ row.id }}" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-header" style="border-bottom: none; padding-bottom: 0;">
                <h5 class="modal-title text-danger" style="font-weight: 800;">Hapus Data Buku?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="padding-top: 10px; text-align: left;">
                <p style="font-size: 14px; margin-bottom: 0;">Yakin ingin menghapus buku <strong>"{{ row.judul }}"</strong>?</p>
            </div>
            <div class="modal-footer" style="border-top: none; padding-top: 0;">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Batal</button>
                <a href="/data-buku/hapus/{{ row.id }}" class="btn btn-danger">Hapus</a>
            </div>
        </div>
    </div>
</div>